<div class="footer-container bg-mainFooter flex-col items-center w-full box-border font-Inter lg:px-28">
     {% comment %} Small screen footer start  {% endcomment %}
    <div class="lg:hidden">
        <div class="info_row max-w-7xl py-12 px-4 min-h-max w-full">
            <div class="social_col w-full px-4 py-0 flex items-center justify-center flex-col">
                <figure class="w-1/2 max-w-fit mb-6 flex justify-center">
                    <img src="../../static/img/refugioLogo.png" alt="Refugio Silvestre Logo">
                </figure>
                <div class="social-networks">
                    <ul class="flex m-0 p-0">
                        <a href="" class="icons_social border-secondary">
                            <svg class="w-5 h-5 slate-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                            </svg>
                        </a>
                        <a href="" class="icons_social border-secondary">
                            <svg class="w-5 h-5 slate-50"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                                <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                            </svg>
                        </a>
                        <a href="" class="icons_social border-secondary">
                            <svg class="w-5 h-5 slate-50"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube">
                                <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path>
                                <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
                            </svg>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="w-full px-4 py-0 flex flex-col items-start justify-between text-white mt-12 md:items-center">
                <h4 class="mb-4 font-semibold">Contáctanos</h4>
                <div class="contact_container flex mr-8 mb-4 md:mr-0 md:mb-4">
                    <div class="flex justify-between">
                        <p class="m-0 text-base md:mx-1"> Perú</p>
                        <p class="m-0 text-base md:mx-1">(+57) 314 264 4983</p>
                    </div>
                </div>
                <div class="link_container flex flex-col">
                    <a href="">www.refugiosilvestre.org</a>
                    <a href="">savingcliente@refugiosilvestre.org</a>
                </div>
            </div>
        </div>
        <div class="max-w-7xl flex flex-col items-center justify-between p-4 w-full text-white lg:flex-row">
            <p class="m-0">Refugio Silvestre 2014 - 2022</p>
            <p class="m-0">Política de Privacidad</p>
        </div>
    </div>
     {% comment %} Small screen footer end  {% endcomment %}

     {% comment %} Long screen footer start  {% endcomment %}
    <div class="hidden info_row max-w-7xl py-12 px-0 min-h-max w-full lg:flex">
        <div class="social_col w-1/2 px-4 py-0">
            <figure class="logo_container w-1/4 mb-8 flex justify-center ml-[2%]">
                <img src="../../static/img/refugioLogo.png" alt="Refugio Silvestre Logo">
            </figure>
            <div class="social-networks">
                <ul class="flex m-0 p-0">
                    <a href="" class="icons_social border-secondary">
                        <svg class="w-5 h-5 slate-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                        </svg>
                    </a>
                    <a href="" class="icons_social border-secondary">
                        <svg class="w-5 h-5 slate-50"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                        </svg>
                    </a>
                    <a href="" class="icons_social border-secondary">
                        <svg class="w-5 h-5 slate-50"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="transparent" stroke="#C3CF0A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube">
                            <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path>
                            <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
                        </svg>
                    </a>
                </ul>
            </div>
        </div>
        <div class="contact_col w-1/2 px-4 py-0 flex flex-col items-start justify-between text-white">
            <h4 class="mb-4 font-semibold">Contáctanos</h4>
            <div class="contact_container flex">
                <div class="contact">
                    <p class="m-0 text-base"> Soritor, Perú pe</p>
                    <p class="m-0 text-base">(+57) 314 264 4983</p>
                </div>
            </div>
            <div class="link_container flex flex-col">
                <a href="">www.savingtheamazon.org</a>
                <a href="">savingcliente@savingtheamazon.org</a>
            </div>
        </div>
    </div>
    <div class="hidden max-w-7xl items-center justify-between p-4 w-full text-white lg:flex text-lg">
        <p class="m-0">Refugio Silvestre 2014 - 2022</p>
        <p class="m-0">Política de Privacidad</p>
    </div>
     {% comment %} Long sceen footer end  {% endcomment %}
</div>