<section class="w-screen h-screen bg-no-repeat bg-cover flex justify-center items-center min-h-fit bg-center flex-col"
style="background-image: url('../../static/img/about_cascada.png');">
    <div class="w-screen text-secondaryColor font-Inter bg-bgNavbar p-3 py-5">
        <span class="text-lg font-medium border-b border-secondaryColor py-1">Acerca de</span>
        <h2 class="text-3xl font-semibold my-3">Refugio Silvestre</h2>
        <p class="text-base text-terciaryColor flex text-center font-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nesciunt debitis veniam ipsam corporis incidunt dignissimos atque at magni fuga repellat, 
        </p>
    </div>
</section>

<!-- bg-[url('/../../static/img/about_cascada.png')] -->