{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	{% tailwind_css %}
	<title>
		{% block title %}{% endblock title %}
	</title>
	{% block css %}{% endblock css %}
</head>

<body>
	<div class="bg-tertiary">
		<header>
			{% block navbar %}{% endblock navbar %}
		</header>
		<main>
			{% block content %}{% endblock content %}
		</main>
		<footer>
			{% block footer %} {% endblock footer %}
		</footer>
	</div>
</body>

<script src="//unpkg.com/alpinejs" defer></script>
<script>

var navbar = document.getElementById("navbar")

window.onscroll = function(){
	var top = window.scrollY;
	if (top >= 425){
		navbar.classList.remove('absolute')
		navbar.classList.remove('bg-transparent')
		navbar.classList.add('fixed')
		navbar.classList.add('bg-mainNavbar')
	}else{
		navbar.classList.remove('fixed')
		navbar.classList.remove('bg-mainNavbar')
		navbar.classList.add('absolute')
		navbar.classList.add('bg-transparent')
	}
}
</script>

</html>